<div class="row" style="margin-bottom:30px">
	<span class="title">Usuários</span>
	<hr class="separador"/>
</div>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %> registrado em: <%= user.created_at.to_date %>
    </li>
  <% end %>
</ul>
