<h3>Home</h3>
	
<%= simple_form_for(:item, :url => :search_items) do |f| %>
  <p><%= f.input :lost, :as => :radio_buttons, :required => true, :collection => [:perdido, :encontrado] %>  </p>
	<p><%= f.input :busca %>
		<%= f.submit "Buscar" %>
<% end %>
