<div class="row" style="margin-bottom:30px">
	<span class="title">Sobre o ACHUSP</span>
	<hr class="separador"/>
</div>

<div class="row about">
	<p>O ACHUSP é um sistema para cadastro de itens perdidos ou encontrados na Universidade de São Paulo.</p>

	<p>O site é bem simples de se usar, na tela inicial é possível escolher entre cadastrar um item encontrado ou perdido, ou buscar por um item já cadastrado no sistema.</p>

	<p>Para realizar o cadastro de um item é necessário fazer um rápido cadastro de usuário, para que você possa ser identificado no sistema.</p>

	<p>Assim que seu objeto for cadastrado, outros usuários poderão ver as informações sobre ele, e entrar em contato caso tenham achado ou caso sejam os donos do item cadastrado.</p>

	<p>Na sua página pessoal, é possível ver todas as mensagens que te enviaram e responde-las. Lá é onde fica todos os itens que você cadastrou ou que enviou alguma mensagem.</p>

	<p>Assim que o item seja recuperado masque o caixa de recuperado na página de informações do objeto para que outros usuários saibam que aquele item já está com seu dono.</p>
</div>