<div class="row" style="margin-bottom:30px">
	<span class="title">Contato</span>
	<hr class="separador"/>
</div>

<div class="row" style="margin-top:0px" >
	<div class="five columns">
		<%= simple_form_for(@message, :url => contact_path) do |f| %>
			<%= f.input :body, :label => "Mande uma mensagem para a equipe do ACHUSP com alguma dúvida ou sugestão que você tiver. Ficaremos felizes em ajuda-lo ", :required => false, :as => :text, :input_html => {:rows => 5} %>
			<%= f.submit "Enviar" %>
		<% end %>
	</div>
</div>