// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
	padding:0px 10px 0px 0px
}

a {
	&.logo {
		color: #000;
	}
}

.box {
	
	padding: 0px;
	
	p {
		margin: 5px 0px 5px 0px;
	}
	
	hr {
		margin: 10px 0px 0px 0px;
	}
	
	.button {
		width: 80px;
	}
}


.center {
	text-align:center;
}

.right {
	text-align:right;
	margin-right: 0px;
	padding-right: 0px;
}

.title {
	font-size: 1.6em;
	font-weight: bold;

	
	&.bigger {
		font-size: 1.4em;
		margin-top: 5px;
	}
	
	&.sub {
		font-size: 1.15em;
		
		div {
			font-size: 1.15em;
		}
	}
}

.separador {
	margin: 3px 0px 5px 0px; 
	border-width: 2px 0px 0px;
	border-color: #000; 		
}

.lost {
	
	&.title {
		color: #FF3300; 
	}
	
	&.box{
		min-height:400px; 
	}
	
	&.separador {
		border-color: #FF3300; 		
	}
}

.found {
	&.title {
		color:#3399FF; 
	}
	
	&.box{
		min-height:400px; 
	}
	
	&.separador {
		border-color: #3399FF; 		
	}
}

.one-line {
	white-space: nowrap;	
	overflow: hidden;
	text-overflow:ellipsis;
}

