// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lost {
	
	&.list {
		//background-color: rgb(255,51,0);
	}
	
	p {
		margin: 7px 0px 0px 0px;
		
		.link {
			color: rgb(255,51,0);
		}
	}
}

.found {
	 &.list {
		//background-color: rgb(51,153,255);
	}
	
	p {
		margin: 7px 0px 0px 0px;
		
		.link {
			color: rgb(51,153,255);
		}
	}
}

#tag_cloud {
	line-height: 1.6em;
	.small { 
		font-size: 0.8em; 
	}
	.medium { 
		font-size: 1.4em; 
	}
	.large { 
		font-size: 2.0em; 
	}
}

.mini-images {
	img {
		width: 50px;
	}
}

.table {
	height: 50px;
	padding:5px 5px 5px 5px;	
	
	img {
		max-height: 40px;
	}
	
	.text {
		white-space: nowrap;
		padding:8px 5px 5px 5px;	
		overflow: hidden;
		text-overflow:ellipsis;
	}
	.image {
		text-align: center;
	}
	
	&.impar {
		background-color: #EEE;
	}
}

.table-header {
	text-align: center;
}

.ui-autocomplete{
	width:300px !important;
	border-style:solid;
	border-width: .5px;
	border-color: #bbb;
	background-color: #FFF;
	list-style-type: none;
	padding: 5px;
}

.ui-menu {
	width:300px !important;
}

li.ui-menu-item:hover {
	background-color: #EEE;
}