// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label {
	padding-top: 3px;
}

p {
	padding-top:5px;
}

.submit {
	
	input {
		margin: 10px;
	}
}