<p>Olá <%= @resource.name %>!</p>

<p>Para troca sua senha clique no link abaixo.</p>

<p><%= link_to 'Trocar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não fez esse pedido, ignore esse email</p>
<p>Sua senha não mudará enquanto você não acessar o link acima para troca-la.</p>
