<p>Olá <%= @resource.name %>!</p>

<p>Sua conta está inacessível pelo grande número de tentativas de acesso.</p>

<p>Cique no link abaixo para destrancar sua conta:</p>

<p><%= link_to 'Destrancar minha conta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
